In [1]:
# python interview

In [2]:
a = 10
b = 10
c = b

id(a),id(b),id(c)

(4561228552, 4561228552, 4561228552)

In [3]:
for i in range(3):
    print(i)
else :
    print('over')

0
1
2
over

In [4]:
d = {1:'a',2:'b',3:'c'}

for k,v in d.items():
    print(f'{k}:{v}')

1:a
2:b
3:c

In [5]:
num = [1,2,3,4,5]
result = "even" if len(num)%2==0 else "odd" 
result

'odd'

In [6]:
# else with loop
# is break is used 'else' is skipped

for i in range(5):
    print(i)
else :
    print('else block')

0
1
2
3
4
else block

In [7]:
# function

def fn_name():
    print('Oops!!')

fn_name()

Oops!!

In [8]:
# args & kwargs
# args : vars packed as tuple
# kwargs : dict

def person(*args,**kwargs):
    print(args)
    print(kwargs)

person(3,4,5.1,name='Abc',age=33)

(3, 4, 5.1)
{'name': 'Abc', 'age': 33}

In [9]:
def person(*l,**info):
    print(l)
    print(info)

person(3,4,5.1,name='Abc',age=33)

(3, 4, 5.1)
{'name': 'Abc', 'age': 33}

In [10]:
# lambda func

res = lambda x,y,z : x+y*z

res(3,4,5)

23

In [11]:
# variable scope
# global keyword

x = 'global'

def fn():
    x = 'local'

fn()
print(x)

def update():
    global x
    x = 'GLOBAL'

update()
print(x)

global
GLOBAL

In [20]:
# enclosed
# nonlocal keyword

def outer():
    y = 10

    def inner():
        nonlocal y
        y = 11

    inner()
    print(y)

outer()

11

In [23]:
# multiple returns
# returns as tuple

def fn():
    return 3,5.0,'Seven'

print(fn())

(3, 5.0, 'Seven')

In [25]:
# recursion function

def fact(n):
    if n==0 : return 1

    return n * fact(n-1)

print(fact(5))

120